.ya-favorites-page {
  padding: 16px;
  height: 100vh;

  .create-favorite {
    display: flex;
    flex-direction: column;
  }

  .selected {
    background-color: #e6f7ff;
    border-radius: 4px;
  }

  .ant-card {
    .ant-list-item {
      cursor: pointer;
      padding: 0 0 0 12px !important;
      min-height: 40px;
      align-items: center;
      border-block-end: 1px solid rgba(5, 5, 5, 0.06);
    }

    .ant-card-body {
      overflow-y: auto;
    }
  }
}
.ya-favorites-page {
  display: flex;
  flex-direction: column;

  .ant-row {
    flex: 1;
    overflow: hidden;

    .ant-col {
      height: 100%;
      display: flex;
      flex-direction: column;

      .left-card,
      .right-card {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        c .ant-card-body {
          flex: 1;
          overflow-y: auto;
        }
      }

      .right-card {
        .favorite-videos-container {
          width: 100%;
        }

        .ya-home-loading.height {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .favorite-video-card-wrapper {
    .ya-youtube-video-card {
      margin-bottom: 0;
    }
  }
}
