.ya-download-page {
  padding: 20px;
  height: 100%;
  box-sizing: border-box;

  .download-tabs {
    height: 100%;
    display: flex;
    flex-direction: column;

    :global {
      .ant-tabs-content-holder {
        flex: 1;
        overflow: auto;

        .ant-tabs-content {
          height: 100%;
        }

        .ant-tabs-tabpane {
          height: 100%;
        }
      }
    }
  }

  .ant-tabs-content-holder {
    height: calc(100vh - 102px);
    overflow-y: auto;
  }
}
